fuzzy_logic/flese-utils/xerces.svn/tags/end_of_xerces_j_2_branch/docs/dtd/faqs.dtd

<?xml encoding='UTF-8'?>

<!-- STYLEBOOK FAQS DTD -->

<!-- import the external blocks.ent dtd -->
<!ENTITY % blocksEntity SYSTEM "blocks.ent">
%blocksEntity;

<!ELEMENT faqs (faq)+>
<!ATTLIST faqs title CDATA #REQUIRED>

<!ELEMENT faq (q,a)>
<!ATTLIST faq title CDATA #IMPLIED>


<!ELEMENT q (#PCDATA)>
<!ELEMENT a (%blocks;)+>

<!-- CVS $Revision: 317397 $ $Date: 2001-07-25 10:43:37 +0200 (Wed, 25 Jul 2001) $ -->