fuzzy_logic/flese-utils/xerces.svn/tags/Xerces-J_1_3_1/docs/dtd/markup.ent

<?xml encoding='US-ASCII'?>

<!-- MARKUP ENTITY -->
<!ENTITY % markup "em|ref|code|br">

<!-- import the external source-specific dtd -->
<!ENTITY % externalEntity SYSTEM "entities.ent">
%externalEntity;
<!-- import the external charecters.ent dtd -->
<!ENTITY % charEntity SYSTEM "characters.ent">
%charEntity;
<!-- import the external links.ent dtd -->
<!ENTITY % linksEntity SYSTEM "links.ent">
%linksEntity;

<!ELEMENT em (#PCDATA|%links;)*>
<!ELEMENT ref (#PCDATA|%links;)*>
<!ELEMENT code (#PCDATA|%links;)*>
<!ELEMENT br EMPTY>

<!-- CVS $Revision: 315672 $ $Date: 2000-05-23 03:13:18 +0200 (Tue, 23 May 2000) $ -->
